---
const personalImageAlt = "Mario Cabrera";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import BehanceIcon from "@/components/icons/Behance.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
	<div class="flex gap-4 mb-4">
		<img class="rounded-full shadow-lg size-16" src="/profile-pic.jpg" alt={personalImageAlt} />
	</div>
	<h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">Hola, soy Mario Cabrera</h1>
	<p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
		<strong>Dise침ador UI/UX</strong> con experiencia en dise침o, desarrollo e implementaci칩n de aplicaciones web.
	</p>
	<nav class="flex flex-wrap gap-4 mt-8">
		<SocialPill href="mailto:mac25us@gmail.com">
			<MailIcon class="size-4" />
			Cont치ctame
		</SocialPill>
		<SocialPill href="https://linkedin.com/in/alfcabrera">
			<LinkedInIcon class="size-4" />
			LinkedIn
		</SocialPill>
		<SocialPill href="https://be.net/alfcabrera">
			<BehanceIcon class="size-4" />
			Behance
		</SocialPill>
	</nav>
</div>
